@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-o-OWi7wgZWrf: 1280px;
  --plasmic-token-inner-container: var(--token-o-OWi7wgZWrf);
  --token-ODj8WqzxpxYM: 1px;
  --plasmic-token-unnamed-style-token: var(--token-ODj8WqzxpxYM);
  --token-7M9jNCEuAnWr: #d1387c;
  --plasmic-token-pink: var(--token-7M9jNCEuAnWr);
  --token-moRHSPuNVMV8: #b3294d;
  --plasmic-token-red: var(--token-moRHSPuNVMV8);
  --token-jR5QCwZlXqPt: #1d1d21;
  --plasmic-token-black: var(--token-jR5QCwZlXqPt);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-vuQHSaAyeMTx_font-family: "Inter", sans-serif;
  --mixin-vuQHSaAyeMTx_font-size: 16px;
  --mixin-vuQHSaAyeMTx_font-weight: 400;
  --mixin-vuQHSaAyeMTx_font-style: normal;
  --mixin-vuQHSaAyeMTx_color: #4f4f4f;
  --mixin-vuQHSaAyeMTx_text-align: left;
  --mixin-vuQHSaAyeMTx_text-transform: none;
  --mixin-vuQHSaAyeMTx_line-height: 1.5;
  --mixin-vuQHSaAyeMTx_letter-spacing: normal;
  --mixin-vuQHSaAyeMTx_white-space: pre-wrap;
  --mixin-vuQHSaAyeMTx_user-select: text;
  --mixin-vuQHSaAyeMTx_text-decoration-line: none;
  --mixin-vuQHSaAyeMTx_text-overflow: clip;
  --mixin-HKfw0vfYlenM_color: #4f4f4f;
  --mixin-HKfw0vfYlenM_font-weight: 900;
  --mixin-HKfw0vfYlenM_font-size: 72px;
  --mixin-HKfw0vfYlenM_line-height: 1;
  --mixin-HKfw0vfYlenM_letter-spacing: -4px;
  --mixin-HKfw0vfYlenM_font-family: "Inter", sans-serif;
  --mixin-HKfw0vfYlenM_white-space: pre-wrap;
  --mixin-4yoZ_IptYUZc_color: #4f4f4f;
  --mixin-4yoZ_IptYUZc_font-size: 50px;
  --mixin-4yoZ_IptYUZc_font-weight: 700;
  --mixin-4yoZ_IptYUZc_letter-spacing: -1px;
  --mixin-4yoZ_IptYUZc_line-height: 1.1;
  --mixin-4yoZ_IptYUZc_font-family: "Inter", sans-serif;
  --mixin-4yoZ_IptYUZc_white-space: pre-wrap;
  --mixin-DDzGJ-oyEJ2k_color: #0070f3;
  --mixin-DDzGJ-oyEJ2k_white-space: pre-wrap;
  --mixin-HIx0en0OkYT-_color: #4f4f4f;
  --mixin-HIx0en0OkYT-_font-size: 32px;
  --mixin-HIx0en0OkYT-_font-weight: 700;
  --mixin-HIx0en0OkYT-_letter-spacing: -0.8px;
  --mixin-HIx0en0OkYT-_line-height: 1.2;
  --mixin-HIx0en0OkYT-_font-family: "Inter", sans-serif;
  --mixin-HIx0en0OkYT-_white-space: pre-wrap;
  --mixin-JX7BvzZspLvi_color: #000000;
  --mixin-JX7BvzZspLvi_font-size: 24px;
  --mixin-JX7BvzZspLvi_font-weight: 600;
  --mixin-JX7BvzZspLvi_letter-spacing: -0.5px;
  --mixin-JX7BvzZspLvi_line-height: 1.3;
  --mixin-JX7BvzZspLvi_white-space: pre-wrap;
  --mixin-oWO3r96mHQpu_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-oWO3r96mHQpu_border-bottom-color: #dddddd;
  --mixin-oWO3r96mHQpu_border-bottom-style: solid;
  --mixin-oWO3r96mHQpu_border-bottom-width: 1px;
  --mixin-oWO3r96mHQpu_border-left-color: #dddddd;
  --mixin-oWO3r96mHQpu_border-left-style: solid;
  --mixin-oWO3r96mHQpu_border-left-width: 1px;
  --mixin-oWO3r96mHQpu_border-right-color: #dddddd;
  --mixin-oWO3r96mHQpu_border-right-style: solid;
  --mixin-oWO3r96mHQpu_border-right-width: 1px;
  --mixin-oWO3r96mHQpu_border-top-color: #dddddd;
  --mixin-oWO3r96mHQpu_border-top-style: solid;
  --mixin-oWO3r96mHQpu_border-top-width: 1px;
  --mixin-oWO3r96mHQpu_border-bottom-left-radius: 3px;
  --mixin-oWO3r96mHQpu_border-bottom-right-radius: 3px;
  --mixin-oWO3r96mHQpu_border-top-left-radius: 3px;
  --mixin-oWO3r96mHQpu_border-top-right-radius: 3px;
  --mixin-oWO3r96mHQpu_font-family: "Inconsolata";
  --mixin-oWO3r96mHQpu_padding-bottom: 1px;
  --mixin-oWO3r96mHQpu_padding-left: 4px;
  --mixin-oWO3r96mHQpu_padding-right: 4px;
  --mixin-oWO3r96mHQpu_padding-top: 1px;
  --mixin-oWO3r96mHQpu_white-space: pre-wrap;
  --mixin-0blw09kg7EH2_border-left-color: #dddddd;
  --mixin-0blw09kg7EH2_border-left-style: solid;
  --mixin-0blw09kg7EH2_border-left-width: 3px;
  --mixin-0blw09kg7EH2_color: #888888;
  --mixin-0blw09kg7EH2_padding-left: 10px;
  --mixin-0blw09kg7EH2_white-space: pre-wrap;
  --mixin-R9-3sL9FYctB_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-R9-3sL9FYctB_border-bottom-color: #dddddd;
  --mixin-R9-3sL9FYctB_border-bottom-style: solid;
  --mixin-R9-3sL9FYctB_border-bottom-width: 1px;
  --mixin-R9-3sL9FYctB_border-left-color: #dddddd;
  --mixin-R9-3sL9FYctB_border-left-style: solid;
  --mixin-R9-3sL9FYctB_border-left-width: 1px;
  --mixin-R9-3sL9FYctB_border-right-color: #dddddd;
  --mixin-R9-3sL9FYctB_border-right-style: solid;
  --mixin-R9-3sL9FYctB_border-right-width: 1px;
  --mixin-R9-3sL9FYctB_border-top-color: #dddddd;
  --mixin-R9-3sL9FYctB_border-top-style: solid;
  --mixin-R9-3sL9FYctB_border-top-width: 1px;
  --mixin-R9-3sL9FYctB_border-bottom-left-radius: 3px;
  --mixin-R9-3sL9FYctB_border-bottom-right-radius: 3px;
  --mixin-R9-3sL9FYctB_border-top-left-radius: 3px;
  --mixin-R9-3sL9FYctB_border-top-right-radius: 3px;
  --mixin-R9-3sL9FYctB_font-family: "Inconsolata";
  --mixin-R9-3sL9FYctB_padding-bottom: 3px;
  --mixin-R9-3sL9FYctB_padding-left: 6px;
  --mixin-R9-3sL9FYctB_padding-right: 6px;
  --mixin-R9-3sL9FYctB_padding-top: 3px;
  --mixin-R9-3sL9FYctB_white-space: pre-wrap;
  --mixin-MQZNMOdUyQhE_display: flex;
  --mixin-MQZNMOdUyQhE_flex-direction: column;
  --mixin-MQZNMOdUyQhE_align-items: stretch;
  --mixin-MQZNMOdUyQhE_justify-content: flex-start;
  --mixin-MQZNMOdUyQhE_list-style-position: outside;
  --mixin-MQZNMOdUyQhE_padding-left: 40px;
  --mixin-MQZNMOdUyQhE_position: relative;
  --mixin-MQZNMOdUyQhE_list-style-type: disc;
  --mixin-MQZNMOdUyQhE_white-space: pre-wrap;
  --mixin-7UqqaVk78JuT_display: flex;
  --mixin-7UqqaVk78JuT_flex-direction: column;
  --mixin-7UqqaVk78JuT_align-items: stretch;
  --mixin-7UqqaVk78JuT_justify-content: flex-start;
  --mixin-7UqqaVk78JuT_list-style-position: outside;
  --mixin-7UqqaVk78JuT_padding-left: 40px;
  --mixin-7UqqaVk78JuT_position: relative;
  --mixin-7UqqaVk78JuT_list-style-type: decimal;
  --mixin-7UqqaVk78JuT_white-space: pre-wrap;
  --mixin-I1Zw5P3qcE_R_color: #000000;
  --mixin-I1Zw5P3qcE_R_font-size: 20px;
  --mixin-I1Zw5P3qcE_R_font-weight: 600;
  --mixin-I1Zw5P3qcE_R_letter-spacing: -0.3px;
  --mixin-I1Zw5P3qcE_R_line-height: 1.5;
  --mixin-I1Zw5P3qcE_R_white-space: pre-wrap;
  --mixin-A4enH79MfVq1_color: #000000;
  --mixin-A4enH79MfVq1_font-size: 16px;
  --mixin-A4enH79MfVq1_font-weight: 600;
  --mixin-A4enH79MfVq1_line-height: 1.5;
  --mixin-A4enH79MfVq1_white-space: pre-wrap;
  --mixin-T9Ev_nPnqVMj_color: #3291ff;
  --mixin-T9Ev_nPnqVMj_white-space: pre-wrap;
  --mixin-fQFn46LZvkgn_white-space: pre-wrap;
  --mixin-82UTjkE0Srqu_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-GtQmVSj9wvi6_white-space: pre-wrap;
  --plasmic-mixin-nav-menu_white-space: var(--mixin-GtQmVSj9wvi6_white-space);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-vuQHSaAyeMTx_font-family);
  font-size: var(--mixin-vuQHSaAyeMTx_font-size);
  font-weight: var(--mixin-vuQHSaAyeMTx_font-weight);
  font-style: var(--mixin-vuQHSaAyeMTx_font-style);
  color: var(--mixin-vuQHSaAyeMTx_color);
  text-align: var(--mixin-vuQHSaAyeMTx_text-align);
  text-transform: var(--mixin-vuQHSaAyeMTx_text-transform);
  line-height: var(--mixin-vuQHSaAyeMTx_line-height);
  letter-spacing: var(--mixin-vuQHSaAyeMTx_letter-spacing);
  white-space: var(--mixin-vuQHSaAyeMTx_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-HKfw0vfYlenM_color);
  font-weight: var(--mixin-HKfw0vfYlenM_font-weight);
  font-size: var(--mixin-HKfw0vfYlenM_font-size);
  line-height: var(--mixin-HKfw0vfYlenM_line-height);
  letter-spacing: var(--mixin-HKfw0vfYlenM_letter-spacing);
  font-family: var(--mixin-HKfw0vfYlenM_font-family);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-4yoZ_IptYUZc_color);
  font-size: var(--mixin-4yoZ_IptYUZc_font-size);
  font-weight: var(--mixin-4yoZ_IptYUZc_font-weight);
  letter-spacing: var(--mixin-4yoZ_IptYUZc_letter-spacing);
  line-height: var(--mixin-4yoZ_IptYUZc_line-height);
  font-family: var(--mixin-4yoZ_IptYUZc_font-family);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-DDzGJ-oyEJ2k_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-HIx0en0OkYT-_color);
  font-size: var(--mixin-HIx0en0OkYT-_font-size);
  font-weight: var(--mixin-HIx0en0OkYT-_font-weight);
  letter-spacing: var(--mixin-HIx0en0OkYT-_letter-spacing);
  line-height: var(--mixin-HIx0en0OkYT-_line-height);
  font-family: var(--mixin-HIx0en0OkYT-_font-family);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-JX7BvzZspLvi_color);
  font-size: var(--mixin-JX7BvzZspLvi_font-size);
  font-weight: var(--mixin-JX7BvzZspLvi_font-weight);
  letter-spacing: var(--mixin-JX7BvzZspLvi_letter-spacing);
  line-height: var(--mixin-JX7BvzZspLvi_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-oWO3r96mHQpu_font-family);
  border-radius: var(--mixin-oWO3r96mHQpu_border-top-left-radius)
    var(--mixin-oWO3r96mHQpu_border-top-right-radius)
    var(--mixin-oWO3r96mHQpu_border-bottom-right-radius)
    var(--mixin-oWO3r96mHQpu_border-bottom-left-radius);
  padding: var(--mixin-oWO3r96mHQpu_padding-top)
    var(--mixin-oWO3r96mHQpu_padding-right)
    var(--mixin-oWO3r96mHQpu_padding-bottom)
    var(--mixin-oWO3r96mHQpu_padding-left);
  border-top: var(--mixin-oWO3r96mHQpu_border-top-width)
    var(--mixin-oWO3r96mHQpu_border-top-style)
    var(--mixin-oWO3r96mHQpu_border-top-color);
  border-right: var(--mixin-oWO3r96mHQpu_border-right-width)
    var(--mixin-oWO3r96mHQpu_border-right-style)
    var(--mixin-oWO3r96mHQpu_border-right-color);
  border-bottom: var(--mixin-oWO3r96mHQpu_border-bottom-width)
    var(--mixin-oWO3r96mHQpu_border-bottom-style)
    var(--mixin-oWO3r96mHQpu_border-bottom-color);
  border-left: var(--mixin-oWO3r96mHQpu_border-left-width)
    var(--mixin-oWO3r96mHQpu_border-left-style)
    var(--mixin-oWO3r96mHQpu_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-0blw09kg7EH2_color);
  padding-left: var(--mixin-0blw09kg7EH2_padding-left);
  border-left: var(--mixin-0blw09kg7EH2_border-left-width)
    var(--mixin-0blw09kg7EH2_border-left-style)
    var(--mixin-0blw09kg7EH2_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-R9-3sL9FYctB_font-family);
  border-radius: var(--mixin-R9-3sL9FYctB_border-top-left-radius)
    var(--mixin-R9-3sL9FYctB_border-top-right-radius)
    var(--mixin-R9-3sL9FYctB_border-bottom-right-radius)
    var(--mixin-R9-3sL9FYctB_border-bottom-left-radius);
  padding: var(--mixin-R9-3sL9FYctB_padding-top)
    var(--mixin-R9-3sL9FYctB_padding-right)
    var(--mixin-R9-3sL9FYctB_padding-bottom)
    var(--mixin-R9-3sL9FYctB_padding-left);
  border-top: var(--mixin-R9-3sL9FYctB_border-top-width)
    var(--mixin-R9-3sL9FYctB_border-top-style)
    var(--mixin-R9-3sL9FYctB_border-top-color);
  border-right: var(--mixin-R9-3sL9FYctB_border-right-width)
    var(--mixin-R9-3sL9FYctB_border-right-style)
    var(--mixin-R9-3sL9FYctB_border-right-color);
  border-bottom: var(--mixin-R9-3sL9FYctB_border-bottom-width)
    var(--mixin-R9-3sL9FYctB_border-bottom-style)
    var(--mixin-R9-3sL9FYctB_border-bottom-color);
  border-left: var(--mixin-R9-3sL9FYctB_border-left-width)
    var(--mixin-R9-3sL9FYctB_border-left-style)
    var(--mixin-R9-3sL9FYctB_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-MQZNMOdUyQhE_display);
  flex-direction: var(--mixin-MQZNMOdUyQhE_flex-direction);
  align-items: var(--mixin-MQZNMOdUyQhE_align-items);
  justify-content: var(--mixin-MQZNMOdUyQhE_justify-content);
  list-style-position: var(--mixin-MQZNMOdUyQhE_list-style-position);
  padding-left: var(--mixin-MQZNMOdUyQhE_padding-left);
  position: var(--mixin-MQZNMOdUyQhE_position);
  list-style-type: var(--mixin-MQZNMOdUyQhE_list-style-type);
  flex-column-gap: var(--mixin-MQZNMOdUyQhE_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-7UqqaVk78JuT_display);
  flex-direction: var(--mixin-7UqqaVk78JuT_flex-direction);
  align-items: var(--mixin-7UqqaVk78JuT_align-items);
  justify-content: var(--mixin-7UqqaVk78JuT_justify-content);
  list-style-position: var(--mixin-7UqqaVk78JuT_list-style-position);
  padding-left: var(--mixin-7UqqaVk78JuT_padding-left);
  position: var(--mixin-7UqqaVk78JuT_position);
  list-style-type: var(--mixin-7UqqaVk78JuT_list-style-type);
  flex-column-gap: var(--mixin-7UqqaVk78JuT_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-I1Zw5P3qcE_R_color);
  font-size: var(--mixin-I1Zw5P3qcE_R_font-size);
  font-weight: var(--mixin-I1Zw5P3qcE_R_font-weight);
  letter-spacing: var(--mixin-I1Zw5P3qcE_R_letter-spacing);
  line-height: var(--mixin-I1Zw5P3qcE_R_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-A4enH79MfVq1_color);
  font-size: var(--mixin-A4enH79MfVq1_font-size);
  font-weight: var(--mixin-A4enH79MfVq1_font-weight);
  line-height: var(--mixin-A4enH79MfVq1_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-T9Ev_nPnqVMj_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
