.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: #ffd7d7;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    border: 1px solid #222222;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.navigationBar:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  margin-bottom: 20px;
}
.intro {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  max-width: 1280px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 0px;
}
.intro > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.intro > :global(.__wab_flex-container) > *,
.intro > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.intro > :global(.__wab_flex-container) > picture > img,
.intro > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .intro {
    width: 100%;
    height: auto;
    min-width: 0;
    padding: 30px 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .intro > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox__iFfqO {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.mainTextContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h1 {
  width: 100%;
  height: auto;
  max-width: 918px;
  text-align: left;
  line-height: 60px;
  margin-bottom: 32px;
  align-self: flex-start;
  position: relative;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    font-size: 54px;
  }
}
.text___3EamA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 933px;
  margin-bottom: 0px;
  font-size: 50px;
  align-self: flex-start;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___3EamA {
    font-size: 24px;
  }
}
.text__cgUn7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  min-width: 0;
}
.link {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  margin-top: 31px;
  padding: 16px 23px;
  border: 2px solid #696969;
}
.root .link:hover {
  border-style: dashed;
}
.text__iVdbr {
  position: relative;
  color: #4f4f4f;
  font-size: 20px;
  width: auto;
}
.svg__zjIvb {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  margin-left: 36px;
  color: #1d1d21;
}
.services {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 1280px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 150px 0px;
}
.services > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.services > :global(.__wab_flex-container) > *,
.services > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.services > :global(.__wab_flex-container) > picture > img,
.services
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .services {
    width: 100%;
    min-width: 0;
    padding: 50px 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .services > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox__ibsjQ {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__q82PX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: flex-start;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 16px;
  transform: none;
  text-transform: uppercase;
  color: var(--token-moRHSPuNVMV8);
  min-width: 0;
}
.h2__n1Gjb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 933px;
  margin-bottom: 0px;
  font-size: 50px;
  align-self: flex-start;
  padding-bottom: 64px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__n1Gjb {
    font-size: 40px;
  }
}
.columns__z0IRm {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__z0IRm > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 18px);
  width: calc(100% + 18px);
  --plsmc-rc-col-gap: 18px;
}
.columns__z0IRm > :global(.__wab_flex-container) > *,
.columns__z0IRm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__z0IRm > :global(.__wab_flex-container) > picture > img,
.columns__z0IRm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 18px;
}
.columns__z0IRm > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__z0IRm > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__z0IRm > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__z0IRm {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__z0IRm > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__z0IRm > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___33Z78 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
}
.img__sO4Xz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 90px;
  height: 90px;
  margin-bottom: 40px;
  flex-shrink: 0;
}
.img__sO4Xz > picture > img {
  object-fit: cover;
}
.h3__mJvzV {
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #4f4f4fd9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-bottom: 40px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3__mJvzV {
    padding-bottom: 32px;
    color: #4f4f4f;
    font-size: 28px;
  }
}
.text__acgpe {
  color: #4f4f4f;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__acgpe {
    padding-bottom: 32px;
  }
}
.column__pdgyQ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
}
.img___3IaqB {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 90px;
  height: 90px;
  margin-bottom: 40px;
  flex-shrink: 0;
}
.img___3IaqB > picture > img {
  object-fit: cover;
}
.h3__sSh3C {
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #4f4f4fd9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-bottom: 40px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3__sSh3C {
    padding-bottom: 32px;
    color: #4f4f4f;
    font-size: 28px;
  }
}
.text__nIQjr {
  color: #4f4f4f;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__nIQjr {
    padding-bottom: 32px;
  }
}
.column__fbSdF {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
}
.img__cyaZy {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 90px;
  height: 90px;
  margin-bottom: 40px;
  flex-shrink: 0;
}
.img__cyaZy > picture > img {
  object-fit: cover;
}
.h3__oK57R {
  font-weight: 600;
  font-size: 32px;
  line-height: 30px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #4f4f4fd9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-bottom: 40px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3__oK57R {
    padding-bottom: 32px;
    color: #4f4f4f;
    font-size: 28px;
  }
}
.text__xfjjO {
  color: #4f4f4f;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.work {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 1280px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 150px 0px 0px;
}
.work > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.work > :global(.__wab_flex-container) > *,
.work > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.work > :global(.__wab_flex-container) > picture > img,
.work > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .work {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 50px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .work > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox__e0L2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text___54Xr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: flex-start;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 16px;
  transform: none;
  text-transform: uppercase;
  color: var(--token-moRHSPuNVMV8);
  min-width: 0;
}
.h2___9YoOf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 933px;
  margin-bottom: 0px;
  font-size: 50px;
  align-self: flex-start;
  padding-bottom: 64px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2___9YoOf {
    font-size: 40px;
  }
}
.freeBox__aVoDy {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 50px 0px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__aVoDy {
    flex-wrap: wrap;
    align-items: stretch;
  }
}
.columns__sQJ {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
}
.columns__sQJ > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  --plsmc-rc-col-gap: 32px;
}
.columns__sQJ > :global(.__wab_flex-container) > *,
.columns__sQJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__sQJ > :global(.__wab_flex-container) > picture > img,
.columns__sQJ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.columns__sQJ > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__sQJ > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__sQJ {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__sQJ > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__sQJ > :global(.__wab_flex-container) > *,
  .columns__sQJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__sQJ > :global(.__wab_flex-container) > picture > img,
  .columns__sQJ
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 48px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__sQJ > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__sw4Ai {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.reveal__bfaIm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.projectCard___2VxJy:global(.__wab_instance) {
  position: relative;
}
.column__oOlAj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.reveal__npGQg:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.projectCard__iuQpd:global(.__wab_instance) {
  position: relative;
  margin-top: 96px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .projectCard__iuQpd:global(.__wab_instance) {
    margin-top: 0px;
  }
}
.columns___9Nkv6 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
}
.columns___9Nkv6 > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  --plsmc-rc-col-gap: 32px;
}
.columns___9Nkv6 > :global(.__wab_flex-container) > *,
.columns___9Nkv6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___9Nkv6 > :global(.__wab_flex-container) > picture > img,
.columns___9Nkv6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.columns___9Nkv6 > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns___9Nkv6 > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___9Nkv6 {
    width: 100%;
    height: auto;
    flex-direction: row;
    margin-top: 48px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___9Nkv6 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___9Nkv6 > :global(.__wab_flex-container) > *,
  .columns___9Nkv6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns___9Nkv6 > :global(.__wab_flex-container) > picture > img,
  .columns___9Nkv6
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 48px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___9Nkv6 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__lolow {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.reveal__v14CV:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.projectCard__uIs5:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.column__mXpK {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.reveal__oZsj2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.projectCard__bf42C:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 96px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .projectCard__bf42C:global(.__wab_instance) {
    margin-top: 0px;
  }
}
.about {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 150px 0px 70px;
}
.about > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.about > :global(.__wab_flex-container) > *,
.about > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.about > :global(.__wab_flex-container) > picture > img,
.about > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .about {
    width: 100%;
    min-width: 0;
    padding: 50px 0px 90px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .about > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox__uBDz {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__je8Zu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: flex-start;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 16px;
  transform: none;
  text-transform: uppercase;
  color: var(--token-moRHSPuNVMV8);
  min-width: 0;
}
.freeBox___5Qq9O {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___5Qq9O > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___5Qq9O > :global(.__wab_flex-container) > *,
.freeBox___5Qq9O > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5Qq9O > :global(.__wab_flex-container) > picture > img,
.freeBox___5Qq9O
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5Qq9O > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    align-items: stretch;
  }
}
.h2__yZm7O {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 933px;
  margin-bottom: 0px;
  font-size: 50px;
  align-self: flex-start;
  padding-bottom: 64px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__yZm7O {
    font-size: 40px;
  }
}
.text__gTcQl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 22px;
  min-width: 0;
}
.freeBox__ooyct {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
  grid-column-gap: 15px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ooyct {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.freeBox__tduVj {
  display: flex;
  position: relative;
}
.freeBox__oNl8 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__oNl8 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__oNl8 > :global(.__wab_flex-container) > *,
.freeBox__oNl8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oNl8 > :global(.__wab_flex-container) > picture > img,
.freeBox__oNl8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oNl8 {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oNl8 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.img__iS8P0 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-bottom: 25px;
  width: 100%;
  height: 312px;
  min-width: 0;
  flex-shrink: 0;
}
.img__iS8P0 > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__iS8P0 {
    width: 100%;
    max-width: 100%;
    height: 311px;
    min-width: 0;
    flex-shrink: 0;
  }
}
.img__vg6Mj {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 312px;
  margin-bottom: 0px;
  min-width: 0;
  flex-shrink: 0;
}
.img__vg6Mj > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__vg6Mj {
    max-width: 100%;
    margin-bottom: 30px;
  }
}
.freeBox__ibsoh {
  display: flex;
  position: relative;
}
.img__dnrl0 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__dnrl0 > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__dnrl0 {
    max-width: 100%;
    margin-bottom: 30px;
    width: 100%;
  }
}
.freeBox___23ZBo {
  display: flex;
  position: relative;
}
.img___7NVjl {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img___7NVjl > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___7NVjl {
    max-width: 100%;
    width: 100%;
    margin-top: 30px;
  }
}
.testimonials {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding-left: 0px;
  padding-bottom: 150px;
  padding-top: 150px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
.testimonials > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.testimonials > :global(.__wab_flex-container) > *,
.testimonials > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.testimonials > :global(.__wab_flex-container) > picture > img,
.testimonials
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .testimonials {
    width: 100%;
    min-width: 0;
    padding: 50px 0px 100px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .testimonials > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox__xmh8 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xmh8 {
    padding-left: 0px;
  }
}
.text__ukmN8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: flex-start;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 16px;
  transform: none;
  text-transform: uppercase;
  color: var(--token-moRHSPuNVMV8);
  min-width: 0;
}
.h2___9AQbo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 933px;
  margin-bottom: 0px;
  font-size: 50px;
  align-self: flex-start;
  padding-bottom: 64px;
  padding-top: 0px;
  min-width: 0;
}
.freeBox___78MnJ {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 50px 0px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___78MnJ {
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
    padding-right: 0px;
    padding-left: 0px;
  }
}
.freeBox__wPujB {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wPujB {
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
    padding: 0px;
  }
}
.freeBox__cfNqa {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__cfNqa > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__cfNqa > :global(.__wab_flex-container) > *,
.freeBox__cfNqa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cfNqa > :global(.__wab_flex-container) > picture > img,
.freeBox__cfNqa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cfNqa > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    align-items: stretch;
  }
}
.freeBox___9By0 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  padding: 50px;
  border: 1px solid #22222280;
}
.freeBox___9By0 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___9By0 > :global(.__wab_flex-container) > *,
.freeBox___9By0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9By0 > :global(.__wab_flex-container) > picture > img,
.freeBox___9By0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9By0 {
    margin-bottom: 40px;
    padding: 20px;
  }
}
.freeBox__icH6K {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg__gXWn {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffcd75;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  flex-shrink: 0;
}
.svg__srarm {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffcd75;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  flex-shrink: 0;
}
.svg__tsC3O {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffcd75;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  flex-shrink: 0;
}
.svg__v1BUt {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffcd75;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  flex-shrink: 0;
}
.svg___2LuGf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffcd75;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  flex-shrink: 0;
}
.h3___4Ph0J {
  font-weight: 600;
  font-size: 32px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #4f4f4fd9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-bottom: 16px;
}
.text__ysOY {
  color: #4f4f4f;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-bottom: 32px;
}
.columns__eDNp4 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  align-self: flex-start;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__eDNp4 > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__eDNp4 > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 9 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__eDNp4 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__eDNp4 > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__jwte4 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.img___40O1R {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 100px;
  align-self: flex-start;
  flex-shrink: 0;
  border-radius: 50%;
}
.img___40O1R > picture > img {
  object-fit: cover;
}
.column__c7BJ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__qrKj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 22px;
  font-weight: 600;
  min-width: 0;
}
.text__pDKdf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__d8O4M {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  padding: 50px;
  border: 1px solid #22222280;
}
.freeBox__d8O4M > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__d8O4M > :global(.__wab_flex-container) > *,
.freeBox__d8O4M > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__d8O4M > :global(.__wab_flex-container) > picture > img,
.freeBox__d8O4M
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__d8O4M {
    padding: 20px;
  }
}
.freeBox__tKgDh {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg__eWUj {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffcd75;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  flex-shrink: 0;
}
.svg__gqVsm {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffcd75;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  flex-shrink: 0;
}
.svg__hUpb {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffcd75;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  flex-shrink: 0;
}
.svg__aoJjs {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffcd75;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  flex-shrink: 0;
}
.svg___73Ux {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffcd75;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  flex-shrink: 0;
}
.h3__vUoUp {
  font-weight: 600;
  font-size: 32px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #4f4f4fd9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-bottom: 16px;
  padding-top: 0px;
}
.text__ttSDq {
  color: #4f4f4f;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-bottom: 32px;
}
.columns__kIfuP {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  align-self: flex-start;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__kIfuP > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__kIfuP > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 9 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kIfuP {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kIfuP > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___7Fizq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.img__aBeqn {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 100px;
  align-self: flex-start;
  flex-shrink: 0;
  border-radius: 50%;
}
.img__aBeqn > picture > img {
  object-fit: cover;
}
.column__sV3Lf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__vtqYf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 22px;
  font-weight: 600;
  min-width: 0;
}
.text___5T3No {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__xF0G {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 40px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xF0G {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.freeBox__lN9CY {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__lN9CY > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__lN9CY > :global(.__wab_flex-container) > *,
.freeBox__lN9CY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lN9CY > :global(.__wab_flex-container) > picture > img,
.freeBox__lN9CY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lN9CY > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    align-items: stretch;
  }
}
.freeBox__yDpqx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  padding: 50px;
  border: 1px solid #22222280;
}
.freeBox__yDpqx > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__yDpqx > :global(.__wab_flex-container) > *,
.freeBox__yDpqx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yDpqx > :global(.__wab_flex-container) > picture > img,
.freeBox__yDpqx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yDpqx {
    flex-direction: column;
    margin-right: 0px;
    margin-bottom: 40px;
    width: 100%;
    min-width: 0;
    padding: 20px;
    border: 1px solid #22222280;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yDpqx > :global(.__wab_flex-container) {
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 4px);
    height: calc(100% + 4px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yDpqx > :global(.__wab_flex-container) > *,
  .freeBox__yDpqx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__yDpqx > :global(.__wab_flex-container) > picture > img,
  .freeBox__yDpqx
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 4px;
  }
}
.freeBox___7E02H {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7E02H {
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
  }
}
.svg__vvQx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffcd75;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  flex-shrink: 0;
}
.svg__bP1B4 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffcd75;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  flex-shrink: 0;
}
.svg__rhkya {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffcd75;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  flex-shrink: 0;
}
.svg__kphsy {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffcd75;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  flex-shrink: 0;
}
.svg___8SU27 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffcd75;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  flex-shrink: 0;
}
.h3__bzjKt {
  font-weight: 600;
  font-size: 32px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #4f4f4fd9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-bottom: 16px;
  padding-top: 32px;
}
.text___9SKeL {
  color: #4f4f4f;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-bottom: 32px;
  padding-top: 0px;
}
.columns__tplLk {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  align-self: flex-start;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__tplLk > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__tplLk > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 9 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__tplLk {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__tplLk > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__b9HVb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.img__azX4E {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 100px;
  align-self: flex-start;
  flex-shrink: 0;
  border-radius: 50%;
}
.img__azX4E > picture > img {
  object-fit: cover;
}
.column__cgB2M {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__whwB {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 22px;
  font-weight: 600;
  min-width: 0;
}
.text__qngA7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__x786F {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  padding: 50px;
  border: 1px solid #22222280;
}
.freeBox__x786F > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__x786F > :global(.__wab_flex-container) > *,
.freeBox__x786F > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__x786F > :global(.__wab_flex-container) > picture > img,
.freeBox__x786F
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__x786F {
    padding: 20px;
  }
}
.freeBox__kdUe {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg__rebfQ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffcd75;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  flex-shrink: 0;
}
.svg__wgCsw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffcd75;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  flex-shrink: 0;
}
.svg__kVf4N {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffcd75;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  flex-shrink: 0;
}
.svg__wBevu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffcd75;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  flex-shrink: 0;
}
.svg__we6Tt {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffcd75;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  flex-shrink: 0;
}
.h3___4Zy9X {
  font-weight: 600;
  font-size: 32px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #4f4f4fd9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-bottom: 16px;
  padding-top: 32px;
}
.text__eekTy {
  color: #4f4f4f;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-bottom: 32px;
  padding-top: 0px;
}
.columns___3E2X9 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  align-self: flex-start;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns___3E2X9 > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns___3E2X9 > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 9 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___3E2X9 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___3E2X9 > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___5BXm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.img__qpXwE {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 100px;
  align-self: flex-start;
  flex-shrink: 0;
  border-radius: 50%;
}
.img__qpXwE > picture > img {
  object-fit: cover;
}
.column___8ZhjM {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__gRrf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 22px;
  font-weight: 600;
  min-width: 0;
}
.text__bhtQ8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.contactSection:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
